.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.chart-container,
.form-container {
  flex: 1; 
  padding: 20px;
}

.chart-container > div {
  max-width: 100%;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 1rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%; 
  max-width: 400px; 
}

.form-container form label {
  font-size: 1rem;
  color: #495057;
}

.form-container form input[type="text"],
.form-container form input[type="number"],
.form-container form input[type="submit"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 1rem;
}

.form-container form input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-container form input[type="submit"]:hover {
  background-color: #0056b3;
}
